
.hr__site-footer{
padding:40px 0;
}

.footer-container{
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  font-size:18px;
}
.footer-items{
  text-align: left;
}
.footer-item:nth-child(1){
  padding-bottom: 18px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}