
.pricing-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: bisque;
}

.pricing-plans-content{
  padding:100px;
  display: flex; 
  flex-direction: column;
  align-items: center;
}
.pricing-text{
  padding:20px;
}

.pricing-plans{
  display: flex; 
  flex-direction: row;
}